.box {
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.input {
  border: 1px solid #a3a3a3;
  border-radius: 5px;
}

.blur {
  filter: blur(5px);
}


.popup {
  height: 100vh;
  position: absolute;
  transform: translateX(50%);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.line {
  height: .1rem;
  background-color: #3b3b3b;
}


.lineTwo {
  height: .1rem;
  background-color: #3b3b3b;
  margin-bottom: .5rem;
}

.my-form {
  line-height: 1rem;
  margin-top: .3rem;
}

.my-form label {
  font-size: .8rem;
}

.my-form input{
  border-bottom: 1px solid #777777;
  font-size: .8rem;
  border-radius: 0;
  /* width: 100%; */
}

.my-form .input {
  pointer-events: none;
}

.line_form {
  height: 2px;
  margin-top: 4px;
  background-color: #3b3b3b;
}

.filled_form input{
  border-bottom: 1px solid #777777;
  font-size: .8rem;
  border-radius: 0;
}

.filled_form label{
  font-size: .8rem;
}

.filled_form input{
  border-bottom: 1px solid #777777;
  font-size: .8rem;
  border-radius: 0;
}

.check_box {
  pointer-events: none;
}

.valid {
  transform: translateY(-500%);
}